.listContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.listWrapper {
	width: 100%;
	max-width: 1024px;
	display: flex;
	gap: 20px;

}

.listSearch {
	flex: 1;
	background-color: #ccc3ba;
	padding: 10px;
	border-radius: 10px;
	position: sticky;
	top: 10px;
	height: max-content;
}

.lsTitle {
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	font-weight: 500;
}

.lsItem{
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 10px;
}

.lsItem > label {
	font-size: 14px;
	color: white;
}

.lsItem > input{
	height: 30px;
	border: none;
	padding: 5px;
}

.lsItem > span {
	height: 30px;
	padding: 5px;
	background-color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.lsOptions {
	padding: 10px;
}

.lsOptionItem {
	display: flex;
	margin-bottom: 12px;
	color: #d8d7d4;
	font-size: 13px;
	justify-content: space-between;
}

.lsOptionItem > .lsOptionText {
	margin-right: 5px;
}

.lsOptionInput {
	width: 50px;
}

.listSearch {
	padding: 10px;
	color: #441c14;
	background: #938181;
	background: radial-gradient(circle farthest-corner at center center, #938181 0%, #603a2c 80%);
	background: -webkit-radial-gradient(circle farthest-corner at center center, #938181 0%, #603a2c 80%);
	background: -moz-radial-gradient(circle farthest-corner at center center, #938181 0%, #603a2c 80%);

}

.listSearch>button{
	padding: 10px;
	background-color: #28a4de;
	color: white;
	border: none;
	width: 100%;
	font-weight: 500;
	cursor: pointer;
}

.listResult {
	flex: 3;
}

