.featured {
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	z-index: 1;
}

.featuredItem {
	position: relative;
	border-radius: 10px;
	color: #fff;
	overflow: hidden;
	height: 250px;
	flex: 1;
	z-index: 3;
}

.
.featuredImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.featuredTitles {
	/*color: #6d7073;*/
	position: absolute;
	bottom: 20px;

	left: 20px;

	/* Summer Sky - #28a4de */
	/*-webkit-box-shadow: inset 5px 5px 93px 0px #28a4de;*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px #28a4de;*/
	/*box-shadow: inset 5px 5px 93px 0px #28a4de;*/

	/* Medium Wood - #AC8163 */
	/*-webkit-box-shadow: inset 5px 5px 93px 0px #AC8163;*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px #AC8163;*/
	/*box-shadow: inset 5px 5px 93px 0px #AC8163;*/

	/* Indochine - #946335 */
	/*-webkit-box-shadow: inset 5px 5px 93px 0px #946335;*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px #946335;*/
	/*box-shadow: inset 5px 5px 93px 0px #946335;*/

	/* Opium - #938181 - */
	/*-webkit-box-shadow: inset 5px 5px 93px 0px rgba(147, 129, 129, 1);*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px rgba(147, 129, 129, 1);*/
	/*box-shadow: inset 5px 5px 93px 0px rgba(147, 129, 129, 1);*/
	/* Chocolato - #603a2c */
	/*-webkit-box-shadow: inset 5px 5px 93px 0px rgba(96, 58, 44, 1);*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px rgba(96, 58, 44, 1);*/
	/*box-shadow: inset 5px 5px 93px 0px rgba(96, 58, 44, 1);*/

	/* Mid Black */
	-webkit-box-shadow: inset 5px 5px 93px 0px rgba(12, 12, 13, .93);
	-moz-box-shadow: inset 5px 5px 93px 0px rgba(12, 12, 13, .93);
	box-shadow: inset 5px 5px 93px 0px rgba(12, 12, 13, .93);

	/* Mid Grey - #6d7073 */
	/*-webkit-box-shadow: inset 5px 5px 93px 0px rgba(109, 112, 115, 1);*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px rgba(109, 112, 115, 1);*/
	/*box-shadow: inset 5px 5px 93px 0px rgba(109, 112, 115, 1);*/

	/* Midnight Blue - #193e6d*/
	/*-webkit-box-shadow: inset 5px 5px 93px 0px rgba(25, 62, 109, 1);*/
	/*-moz-box-shadow: inset 5px 5px 93px 0px rgba(25, 62, 109, 1);*/
	/*box-shadow: inset 5px 5px 93px 0px rgba(25, 62, 109, 1);*/
	z-index: 3;
	border-radius: 8px;
}

.featuredTitles > h1 {
	font-weight: 500;
}

.featuredTitles > h2 {
	font-weight: 400;
    /*color: rgba(255, 255, 255, .8);*/
	color: white;
	z-index: 20;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, .5);
	-moz-box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, .5);
	box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, .5);
}