.navbar {
	height: 50px;
	/*background-color: #938181;*/

	background: #938181;
	background: radial-gradient(circle farthest-corner at center center, #938181 0%, #603a2c 80%);
	background: -webkit-radial-gradient(circle farthest-corner at center center, #938181 0%, #603a2c 80%);
	background: -moz-radial-gradient(circle farthest-corner at center center, #938181 0%, #603a2c 80%);
	display: flex;
	justify-content: center;
}

.navContainer {
	width: 100%;
	max-width: 1024px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-weight: 500;
}

.navButton {
	margin-left: 20px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	color: #603a2c;;
}